<div class="row">
  <div class="col">
    <nav class="navbar navbar-expand-lg justify-content-between navbar-dark bg-dark">
 ​
 ​
      <!-- Left side of navbar -->
      <div class="row">
 ​
        <a class="white-text navbar-brand" routerLink="/">Message Board 💬</a>
 ​
        <ul class="navbar-nav">
          <li><a class="white-text bg-dark navbar-dark nav-link">Home</a></li>
          <li><a class="white-text bg-dark navbar-dark nav-link">Create</a></li>
        </ul>
 ​
      </div>
 ​
 ​
      <!-- Right side of navbar -->
      <div class="btn-group" role="group">
        <button *ngIf="!nameToDisplay" type="button" class="btn btn-lg btn-outline-primary" routerLink="/register">Register</button>
        <button *ngIf="!nameToDisplay" type="button" class="btn btn-lg btn-outline-primary"(click)="login()">Login</button>
        <button *ngIf="nameToDisplay" type="button" class="btn btn-lg btn-outline-danger red-btn">Logout of {{nameToDisplay}}</button>
      </div>
 ​
    </nav>
  </div>
 </div>